$nav-bg-color: #ccc;
$nav-a-hover-color: rgb(221, 255, 0);

@mixin my-nav() {
    nav {
        background-color: $nav-bg-color;
        ul {
            list-style: none;
            display: flex;
            a {
                text-decoration: none;
    
                &:hover {
                    color: $nav-a-hover-color;
                }
            }
        }
    }
}

