* {
    padding: 0;
    margin: 0;
}

Body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url(../univers.webp);
    background-size: cover;
}

.soleil {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    background-color: yellow;
    position: relative;
}

.mercure {
    width: 15px;
    height: 15px;
    /* border-radius: 50px; */
    background-color: rgb(166, 0, 0);
    position: absolute;
    top: 40%;
    left: 45%;
    
}    

.terre {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: blue;
    position: absolute;
    top: 65%;
    right: 45%;
}

.mars {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: red;
    position: absolute;
    top: 30%;
}

.jupiter {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: orange;
    position: absolute;
    top: 30%;
    right: 30%;
}

.mercure {
    animation: mercure 10s infinite;
}

@keyframes mercure{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

